<!DOCTYPE html>
<html>
<head>
    <title>Error 404</title>
</head>
<body>
    <H1>NOT FOUND : ERROR 404</H1>
    {{#each data}}
    <ul>
        <li>{{this.error}}</li>
        <li>{{this.sql_query}}</li>
    </ul>
</body>
</html>