<div>
    {{#each data}} <!-- trouver le moyen de ne pas parcourir pour accéder aux données -->
    {{#if (eq "insert" this.form_action)}}
    <form method="POST" action="/setdata/countries">
    {{else}}
    <form method="GET" action="/updatedata/countries">
    {{/if}}
        <label>Code</label><br>
        <input type="text" name="code" value"{{this.code}}"><br>
        <br>
        <label>name_us</label><br>
        <input type="text" name="name_us" value"{{this.name_us}}"><br>
        <br>
        <label>name_fr</label><br>
        <input type="text" name="name_fr" value"{{this.name_fr}}"><br>
        <br>
        <input type="submit" value="Valider">
    </form>
    {{/each}}
</div>